<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mail.tech.infrastructure.content.ContentMapper">
    <select id="findByContentToken" resultType="com.mail.tech.domain.content.Content">
        SELECT content_token, title, content_kor, tech, content_eng, created_at, modified_at
        FROM contents
        WHERE content_token = #{contentToken}
    </select>


</mapper>
